extends _layouts/default

block vars
  -title        = 'Sample'
  -description  = 'Description of Sample'
  -keywords     = 'keywords of Sample'
  -bodyClass    = 'page-sample'
  -path         = '.'

block container
  section.listings
    .container
      h1.title-sec listings
      .list-items
        .item
          .photo
            a(href="#")
              img(src=path+"/img/top/sample.jpg", alt="")
            span.text PHOTOS
            date.date 27<br>MAR
          .info
            .title
              h2.big-title City Light in NewYork
              small.small-title The city that never sleeps.
            .note
              p New York, the largest city in the US, is an architectural marvel with plenty of historic monuments, magnificents building and countless dazzling skypscrapers.
            .detail
              span.time 
                i.fal.fa-clock
                | 6 mins ago
              span.comment 
                i.fas.fa-comments
                | 39 comments
        .item
          .photo
            a(href="#")
              img(src=path+"/img/top/sample.jpg", alt="")
            span.text PHOTOS
            date.date 27<br>MAR
          .info
            .title
              h2.big-title City Light in NewYork
              small.small-title The city that never sleeps.
            .note
              p New York, the largest city in the US, is an architectural marvel with plenty of historic monuments, magnificents building and countless dazzling skypscrapers.
            .detail
              span.time 
                i.fal.fa-clock
                | 6 mins ago
              span.comment 
                i.fas.fa-comments
                | 39 comments
        .item
          .photo
            a(href="#")
              img(src=path+"/img/top/sample.jpg", alt="")
            span.text PHOTOS
            date.date 27<br>MAR
          .info
            .title
              h2.big-title City Light in NewYork
              small.small-title The city that never sleeps.
            .note
              p New York, the largest city in the US, is an architectural marvel with plenty of historic monuments, magnificents building and countless dazzling skypscrapers.
            .detail
              span.time 
                i.fal.fa-clock
                | 6 mins ago
              span.comment 
                i.fas.fa-comments
                | 39 comments



